<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.shiroDemo.dao.PermissionDAO">

    <select id="queryPermissionByUserName" resultSets="java.util.Set" resultType="string">
        select per.percode from tb_users u inner join tb_urs urs
        on u.id = urs.uid inner join tb_roles r
        on urs.rid = r.roleid inner join tb_rps rps
        on r.roleid = rps.rid inner join tb_permissions per
        on rps.pid = per.perid and u.username = #{userName}
    </select>

</mapper>